{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
<h1>Register</h1>
  <form method="post">
  <div class="form-group">
      {{ form.email.label }}
      {{ form.email(class_="form-control", placeholder="johnsmith@utexas.edu", id="email") }}
  </div>
  <div class="form-row">
      <div class="col">
          {{ form.first_name.label }}
          {{ form.first_name(class_="form-control", id="first_name") }}
      </div>
      <div class="col">
          {{ form.last_name.label }}
          {{ form.last_name(class_="form-control", id="last_name") }}
      </div>
  </div>
  <div class="form-group">
      {{ form.password.label }}
      {{ form.password(class_="form-control", id="password") }}
      {{ form.confirm_password.label }}
      {{ form.confirm_password(class_="form-control", id="confirm_password") }}
  </div>
      <div class="form-group">
          {{ form.submit(class_="btn btn-primary") }}
      </div>

  {{ form.hidden_tag() }}
</form>

<div id="alerts">
{% for category, message in get_flashed_messages(with_categories=true) %}
    <div class="alert alert-{{ category }}" role="alert">
        {{ message|e }}
    </div>
{% endfor %}
</div>

{% endblock %}
