{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<style scoped>
.card-img-top {
  position: relative;
  width: 100%;
  padding-top: 100%;
  overflow: hidden;
}

.card-img-top img {
  position: absolute;
  top: 0;
  left:0;
  height: 100%;
}
</style>

<h1>About</h1>
<hr>

<h2>Members</h2>
<div class="row">
  {% for member in members %}
  <div class="col-sm-6">
    <div class="card mb-4">
      <div class="card-img-top">
        <img src="{{ url_for("static", filename="images/" + member.photo + "_photo.jpg") }}" alt="{{ member.name }}">
      </div>

      <div class="card-body">
        <h5 class="card-title mb-2">{{ member.name }}</h5>
        <p class="card-text">
          {{ member.bio }}
        </p>

      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>Responsibilities</b>: {{ member.responsibilities }}</li>
        <li class="list-group-item">
          <b>Contributions</b>: Made {{ member.contribs.commits }}
          {% if member.contribs.commits == 1 %}
          commit,
          {% else %}
          commits,
          {% endif %}
          opened {{ member.contribs.issues }}
          {% if member.contribs.issues == 1 %}
          issue,
          {% else %}
          issues,
          {% endif %}
          and made 0 unit tests
        </li>
      </ul>
    </div>
  </div>
  {% endfor %}
</div>

<h2>Repository Statistics</h2>
<table class="table table-striped">
  <thead>
    <th scope="col" colspan="2">At a Glance</th>
  </thead>
  <tbody>
    <tr>
      <th colspan="2">
        <a href="https://gitlab.com/stalwar5/cs329e-idb" target="_blank">
          Repository on GitLab
          <i class="fas fa-external-link-alt"></i>
        </a>
      </th>
    </tr>
    <tr>
      <th colspan="2">
        <a href="https://gitlab.com/stalwar5/cs329e-idb/wikis/Prep-for-job" target="_blank">
          Wiki on GitLab
          <i class="fas fa-external-link-alt"></i>
        </a>
      </th>
    </tr>
    <tr>
      <th scope="row">
        <a href="https://gitlab.com/stalwar5/cs329e-idb/graphs/master" target="_blank">
          Total Commits <i class="fas fa-external-link-alt"></i>
        </a>
      </th>
      <td>{{ stats.total_commits }}</td>
    </tr>
    <tr>
      <th scope="row">
        <a href="https://gitlab.com/stalwar5/cs329e-idb/issues" target="_blank">
          Total Issues <i class="fas fa-external-link-alt"></i>
        </a>
      </th>
      <td>{{ stats.total_issues }}</td>
    </tr>
    <tr>
      <th scope="row">Total Unit Tests</th>
      <td>{{ stats.total_unittests }}</td>
    </tr>
  </tbody>
</table>

<h2>Data Sources</h2>
<div class="list-group">
  <a href="https://any-api.com/dataatwork_org/dataatwork_org/docs/API_Description" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" target="_blank">
    Job and Skill information provided by the Open Skills API
  </a>
  <a href="https://www.onetonline.org/" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" target="_blank">
    Salary information from O*NET Online
  </a>
  <a href="https://www.bls.gov/developers/api_signature_v2.htm" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" target="_blank">
    Salary information from Bureau of Labor Statistics API
    <i class="fas fa-external-link-alt"></i>
  </a>
  <a href="https://docs.gitlab.com/ee/api/" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" target="_blank">
    Commit and issues information pulled from the GitLab API
    <i class="fas fa-external-link-alt"></i>
  </a>
</div>

<h2>Technologies</h2>
<table class="table">
  <tbody>
    <tr>
      <th>Flask</th>
      <td>Server-side scripting</td>
    </tr>
    <tr>
      <th>GitLab</th>
      <td>Git client for collaboration</td>
    </tr>
    <tr>
      <th>Google Cloud Platform</th>
      <td>Deployment of website</td>
    </tr>
    <tr>
      <th>Bootstrap 4</th>
      <td>Styling</td>
    </tr>
    <tr>
      <th>Pandas</th>
      <td>Data process & formating</td>
    </tr>
  </tbody>
</table>
{% endblock %}
