<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  {# Bootstrap CSS #}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  {# jQuery CDN (for Bootstrap JS) #}
  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

  {# Bootstrap JS #}
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <!--  theme -->
  <link rel="stylesheet" href="/static/css/paper-kit.css">
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">

  <title>{% block title %}{% endblock %}</title>
  <style>
    p,
    li,
    a {
      font-weight: 400;
    }

    h1,h2,h3{
      margin-bottom: 0.8rem;
      font-weight: 500;
    }

    footer {
      width: 100%;
      background-color: #f5f5f5;
      line-height: normal;
    }

    footer .row{
      padding: 10px 20px 40px 20px;
    }


    footer h4 {
      margin-bottom: 20px;
    }

    footer ul {
      padding-left: 0;
    }
    footer li{
      list-style: none;
      line-height: 1.6rem;
    }

    section {
      padding: 20px 0;
    }

    section h2 {
      margin-top: 1.6rem;
    }
    section{
      padding: 20px 0;
    }
    section h2{
      margin-top: 1.6rem;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-sm bg-info">
    <a class="navbar-brand" href="{{ url_for("index") }}">Prep-for-job</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item {% if g.endpoint == "job" %}active{% endif %}">
          <a class="nav-link" href="{{ url_for("job") }}">Job</a>
        </li>
        <li class="nav-item {% if g.endpoint == "salary" %}active{% endif %}">
          <a class="nav-link" href="{{ url_for("salary") }}">Salary</a>
        </li>
        <li class="nav-item {% if g.endpoint == "skill" %}active{% endif %}">
          <a class="nav-link" href="{{ url_for("skill") }}">Skill</a>
        </li>
        <li class="nav-item {% if g.endpoint == "about" %}active{% endif %}">
          <a class="nav-link" href="{{ url_for("about") }}">About <span class="sr-only">(current)</span></a>
        </li>

      </ul>
      <ul class="my-2 my-lg-0 navbar-nav">

        {% if g.user %}
        <li class="nav-item">
          <span class="navbar-text">Hi, {{ g.user['username'] }}</span>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('logout') }}">Log Out</a>
        </li>
        {% else %}
        <li class="nav-item {% if g.endpoint == "auth.register" %}active{% endif %}">
          <a class="nav-link" href="{{ url_for('register') }}">Register</a>
        </li>
        <li class="nav-item {% if g.endpoint == "login" %}active{% endif %}">
          <a class="nav-link" href="{{ url_for('login') }}">Log In</a>
        </li>
        {% endif %}
      </ul>

    </div>
  </nav>

  <main class="container mt-2 mb-5">
    {% block content %}{% endblock %}
  </main>

  <footer>
    <div class="row">
      <div class="col-sm-4">
        <h4>About</h4>
        <p>This website is all about finding your dream job and preparing yourself for the career success!</p>
      </div>
      <div class="col-sm-4">
        <h4>Contact</h4>
        <ul>
          <li>
            <a href="https://gitlab.com/stalwar5/cs329e-idb"><i class="fab fa-gitlab"></i> GitLab Repo</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-4">
        <h4>Credits</h4>
          <ul>
        <li>
          <a href="https://any-api.com/dataatwork_org/dataatwork_org/docs/API_Description">
            Open Skills API
          </a>
        </li>
        <li>
          <a href="https://www.onetonline.org/">
            O*NET API
          </a>
        </li>
        <li>
          <a href="https://www.bls.gov/developers/api_signature_v2.htm">
            Bureau of Labor Statistics API
          </a>
        </li>
        <li>
          <a href="https://docs.gitlab.com/ee/api/">
            GitLab API
          </a>
        </li>
      </ul>
      </div>

    </div>
  </footer>

  <!--   Core JS Files   -->
  <!-- Control Center for Paper Kit: parallax effects, scripts for the example pages etc -->
  <script src="./static/js/paper-kit.js" type="text/javascript"></script>

</body>

</html>
