{% extends "base.html" %}

{% block title %}Salary{% endblock %}

{% block content %}
<style media="screen" scoped>
  td {}
</style>
<h1>Salary</h1>
<hr>

<h2>Salary By Occupation</h2>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th style="width: 43.33%" scope="col">Occupation</th>
      <th style="width: 33.33%" scope="col">Annual Salary</th>
      <th style="width: 33.33%" scope="col">Related Skills</th>
    </tr>
  </thead>

  <tbody>
    {% for obj in salary_info %}
    <tr>
      <th scope="row">
        <a href="{{ url_for("job", code=obj[1] + '.00')}}">{{obj[0]}}</a>
      </th>
      <td>$ {{ "{:,}".format(obj[2]) }}</td>
      <td>
        <button type="button" class="btn btn-info" onClick="window.location='{{ url_for("skill_salary", code=obj[1] + '.00')}}'">See Skills Info</button>
        <!-- link first skill on skills page by replacing Skills^ -->
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<h2>Salary By Location</h2>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Location</th>
      <th scope="col">Weekly Salary</th>
    </tr>
  </thead>
  <tbody>

    <tr>
      <th scope="row">Austin, TX</th>
      <td>$ {{ "{:,}".format(loc_to_salary) }}</td>
    </tr>
  </tbody>
</table>


{% endblock %}
