{% extends "base.html" %}

{% block title %}Skill{% endblock %}

{% block content %}
<style media="screen" scoped>
  a {
    text-transform: capitalize;
  }
</style>

<h1>Skills</h1>
    <hr>

    <div class="list-group">
    {% for tech in technology.technology %}
        <a class="list-group-item" href="{{ url_for("skill", id=tech.id) }}">
            {{ tech.name }}
        </a>
    {% endfor %}
    </div>
{% endblock %}
