{% extends "base.html" %}

{% block title %}
{{ job.title }}
{% endblock %}

{% block content %}

<style media="screen" scoped>
  a {
    text-transform: capitalize;
  }

  .card a:hover, a:focus, a:visited{
    font-weight: bold;
  }

  .nav .nav-item .nav-link:hover,
  .nav .nav-item .nav-link:focus {
    background-color: #66615B;
    color: #fff;
  }
</style>
<h1>Skills and Salary: {{ job.title }}</h1>
<hr>
<section id="basic_info" style="margin-top: -35px;">
<!-- TODO: conditional rendering; api request exceed -->
{% if wage.status != 'REQUEST_NOT_PROCESSED'%}
<h4><b> Look at the skills needed to earn a wage of $ {{wage.Results.series[0].data[0].value}}/hr! Related jobs mentioned below!</b></h4>
{% else %}
<div class="alert alert-warning" role="alert">
  Daily api limit exceeded!
</div>
{% endif %}

</section>

<section id="resources">
  <div class="card">
    <div class="card-header">
      <ul class="nav nav-pills" id="pills-tab" role="tablist">
        <li class="nav-item">
          <h3>Skills</h3>
        </li>
      </ul>
    </div>
    <div class="card-body">
        <div class="tab-pane" id="technologies" role="tabpanel" aria-labelledby="technologies-tab">

          {% for category in technology.category %}
          <ul class="list-group">
            <li class="list-group-item mb-1">
              <h5>{{ category.title.name }}</h5>
              {% for ex in category.example %}
              <span class="font-weight-light"><a href="{{ url_for("skill", id=ex.hot_technology) }}">{{ ex.name }}</a></span> <br />
              {% endfor %}

          </ul>

          {% endfor %}
        </div>
      </div>
    </div>
  </div>

</section>

<!-- From o*net -->

<section id="related_jobs">
  <h2>Related Jobs</h2>
  <ul class="list-group">
    {% for job in related_jobs.careers.career %}
    <li class="list-group-item">
      <a href="{{ url_for("job", code=job.code) }}">
        {{ job.title }}
      </a>
    </li>
    {% endfor %}
  </ul>
</section>

{#
<section id="all_skills">
  <!-- From anyapi -->
  <h2>All Skills</h2>
  <ul class="list-group">
    {% for skill in related_skills.skills %}
    <li class="list-group-item">
      {{skill.skill_uuid}}
      <a href="{{ url_for("skill", uuid=skill.skill_uuid) }}">
        {{skill.skill_name}}
      </a>
      {{skill.description}}
    </li>

        {% endfor %}
      </div>
    </div>
  </div>
</div>

</section>
#}
{% endblock %}
