{% extends "base.html" %}

{% block title %}
    {{ technology.title.name }}
{% endblock %}

{% block content %}
    <h1>{{ technology.title.name }}</h1>
    <hr>
    <h2>Technology Category</h2>
    <p>{{technology.categories.title[0].name}}</p>
    <h2>Related Occupations</h2>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">Occupation</th>
          <th scope="col">Hourly Wage</th>
        </tr>
      </thead>

      <tbody>
        {% for job in occupations %}
        <tr>
          <th scope="row">
            <a href="{{ url_for("job", code=job.code)}}">{{job.title}}</a>
          </th>
          <td>
            <a class="btn btn-info" href="{{ url_for("salary", job_title=job.title, code=job.code)}}">See Salary Info</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

{% endblock %}
